a, button {
  // @extend %flexbox;
  // @include align-items(center);
  // background: none;
  // border: none;
  // border-radius: 0;
  // text-decoration: none;
  // color: $first-color;
  // cursor: pointer;
  // transition: all 0.2s ease;
  // font-family: $font-family;
  // position: relative;
  &:focus {
    outline: none !important;
  }
}

.btn-pdf {
  @extend %flexbox;
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  color: #fff;
  border: none;
  border-radius: $global-radius;
  background-color: $second-color !important;
  &[disabled] {
    display: none !important;
  }
}
