.field {
  @extend %flexbox;
  @include align-items(center);
  @include flex-wrap(wrap);
  position: relative;
  margin-bottom: 14px;
  > i {
    position: absolute;
    font-size: 24px;
    margin-right: 14px;
    top: 10px;
    left: 6px;
  }
  input {
    padding: 10px 4px 10px 36px;
    @include flex(1);
    border-bottom: 1px solid $first-color;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.error {
  order: 1;
  font-size: 12px;
  color: $error-color;
  + i {
    color: $error-color;
    + input {
      border-color: $error-color;
      &::-webkit-input-placeholder { color: $error-color; }
      &::-moz-placeholder { color: $error-color; }
      &:-ms-input-placeholder { color: $error-color; }
      &:-moz-placeholder { color: $error-color; }
    }
  }

}
