body, #root, #layout, #map-container {
  min-height: 100vh;
  max-height: 100vh;
}
#layout {
  @extend %flexbox;
  @include flex-direction(column);
  main {
    @extend %flexbox;
    @include flex(1);
    // @include align-items(flex-start);
    // #sidebar {
    //   position: relative;
    //   z-index: 1;
    // }
    #map-container {
      @include flex(1);
      // margin-left: -$sidebar-width;
    }
  }
}


body {
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $first-txt-color;
}

