.map-wrapper, .map {
  height: 100vh;
}
#map-container,
.map-wrapper {
  position: relative;
}


#map-caption {
  position: absolute;
  bottom: 14px;
  right: 14px;
  width: 50px;
  height: 142px;
  z-index: 10000;
  overflow: hidden;
  img {
    position: absolute;
    top: -32px;
  }
  + ul.list-group {
    display: none;
  }
}

.ol-overlaycontainer-stopevent {
  display: none;
}

.charts-container {
  display: none;
}
.data-container {
  position: absolute;
  top: 14px;
  left: 14px;
  background-color: rgba($second-color, .6);
  border-radius: $global-radius;
  padding: 10px;
  width: 280px;
}

.data-block {
  .data-block-title {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .data-block-container {
    background-color: #fff;
    border-radius: $global-radius;
    padding: 8px;
    .data-value {
      margin-bottom: 3px;
      &.min {
        div + div {
          font-size: 16px;
        }
      }
    }
    .data-value-name { font-size: 20px; }
    .data-value-desc { font-size: 16px; }
    .data-value-label {
      opacity: .6;
      + div {
        font-size: 18px;
      }
    }
  }
  margin-bottom: 12px;
  &:last-child {
    margin-bottom: 0;
  }
  .btn[disabled] {
    display: none;
  }
}

