canvas{
  :active {
    cursor: move;
  }
  height: 100% !important;
  max-height: 100% !important;
}
.map-wrapper, .map {
  height: 100%;
}
#map-container,
.map-wrapper {
  position: relative;
}


#map-caption {
  position: absolute;
  bottom: 14px;
  background: rgba(255, 255, 255, 0.5);
  padding: 6px;
  right: 14px;
  z-index: 2;
  border-radius: 3px;
  div {
    background-color: #fff;
    border-radius: 3px;
    padding: 8px;
  }
  + ul.list-group {
    display: none;
  }
}

.ol-overlaycontainer-stopevent {
  .ol-zoom {
    position: absolute;
    top: 14px;
    right: 14px;
    left: auto;
    @extend %flexbox;
    @include flex-direction(column);
    background-color: #fff;
    box-shadow: 0 2px 8px -1px rgba(0,0,0,.2);
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    button {
      color: #000;
      border: none;
      background-color: transparent;
      width: 30px;
      font-size: 24px;
      font-weight: 500;
      margin: 0;
      &:hover {
        background-color: #efefef;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .ol-rotate,
  .ol-attribution {
    display: none;
  }
  .ol-scale-line {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: transparent;
    padding: 0;
    .ol-scale-line-inner {
      background: rgba(0, 0, 0, .15);
      border-color: #333;
      color: #333;
      margin: 0;
    }
  }
}

.charts-container {
  margin-top: 6px;
  .highcharts-container {
    width: auto !important;
    height: 240px !important;
  }
  .highcharts-credits {
    display: none;
  }
}
.data-container {
  position: absolute;
  top: 14px;
  left: 14px;
  background-color: rgba($second-color, .6);
  border-radius: $global-radius;
  padding: 10px;
  width: 250px;
}

.data-block-title {
  @extend %flexbox;
  @include align-items(center);
  color: #fff;
  font-size: 22px;
  margin-bottom: 10px;
  i {
    margin-right: 10px;
    font-size: 20px;
  }
}
.data-block-container {
  background-color: #fff;
  border-radius: $global-radius;
  padding: 8px;
  .data-value {
    margin-bottom: 3px;
    &.min {
      div + div {
        font-size: 16px;
      }
    }
  }
  .data-value-name { font-size: 20px; }
  .data-value-desc { font-size: 16px; }
  .data-value-label {
    opacity: .6;
    + div {
      font-size: 18px;
    }
  }
}
.data-block-methode .data-block-container { border-radius: $global-radius $global-radius 0 0;}
.data-block-metadonnees .data-block-container { border-radius: 0 0 $global-radius $global-radius;}

.data-block {
  .btn[disabled] {
    display: none;
  }
}

#map-container {
  #comm-title {
    display: none;
  }
}
