body {
  margin: 0px;
  padding: 0px 5%;
  font-family: sans-serif;
}

.list-group-item {
    padding: 5px 8px;
}

.panel .panel-body {
    padding: 1px 0px;
}

.panel-group {
	margin: 5px 0px;
}

.col-md-3 {
	padding: 8px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}




.olTool {
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 10px;
  border-radius: 10px;
  border: 1px rgba(255, 255, 255, 0.5);
  bottom: 12px;
  left: -50px;
  min-width: 150px;
  white-space: nowrap;
  font: 12pt sans-serif;
}

.olTool:after, .olTool:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.olTool:after {
  border-top-color: rgba(255, 255, 255, 0.5);
  border-width: 10px;
  left: 40px;
  margin-left: -10px;
}
.olTool:before {
  border-top-color: rgba(255, 255, 255, 0.5);
  border-width: 11px;
  left: 40px;
  margin-left: -11px;
}